@media screen and (max-width: 320px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 576px){
    .projects__content{
        grid-template-columns: 332px;
        justify-content: center;
    }
    .filters__content{
        width: 332px;
        margin: 3rem auto;
    }
}

@media screen and (min-width: 776px){
    .projects__content,
    .skills__content{
        grid-template-columns: repeat(2, 332px);
    }
}

@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .change-theme{
        top: 2.5rem;
        right: 2.5rem;
    }

    .profile{
        padding-top: 4rem;
        &__profession{
            margin-bottom: 1.5rem;
        }
        &-description{
                font-size: var(--small-font-size);
        }
    }

    .projects{
        &__content{
            gap: 2rem 3rem;
        }
        &__modal{
            padding: 1.5rem;
        }
    }

    .footer__copy{
        margin: 4.5rem 0 2.5rem;
    }
}