@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;
  --body-font: 'IBM Plex Sans', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  justify-content: center;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

body.dark-theme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

.dark-theme .button__gray {
  background-color: var(--container-color);
}

.dark-theme .button__gray:hover {
  background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .filters__content {
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 32%);
}

.container {
  max-width: 968px;
  margin-top: 32px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: .75rem;
}

.profile__desc {
  font-size: var(--h2-font-size);
  display: flex;
}

.profile__theme {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
  padding: .5rem
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: .3s;
}

.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: #fff;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button i {
  font-size: .938rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.partners__business {
  display: flex;
  padding: 1.25rem
}

.partners__merch {
  font-size: var(--h3-font-size);
  letter-spacing: 1px
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__card img {
  width: 128px;
  height: 128px;
  border-radius: 5rem;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg, 
              hsla(var(--hue), 24%, 40%, .3) 0%, 
              hsla(var(--hue), 24%, 4%, 1) 95%);
  display: grid;
  align-items: flex-end;
  border-radius: 5rem;
  padding: 1.5rem 1.25rem;
  transition: .3s;
}

.projects__title {
  font-size: var(--smaller-font-size);
  font-weight: 800;
  margin-bottom: .125rem;
  color: var(--text-color-lighten)
}

.projects__button {
  padding: 0.125rem
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  padding: .125rem
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%)
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
  border-radius: .5rem
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem
  }
}

@media screen and (min-width: 576px) {
  .projects__content {
    justify-content: center;
  }
}

@media screen and (min-width: 776px) {
  .projects__content {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto
  }

  .change-theme {
    top: 2.5rem;
    right: 2.5rem
  }

  .projects__content {
    gap: 2rem 3rem
  }
  .projects__modal {
    padding: 1.5rem
  }

  .footer__copy {
    margin: 1.5rem 0 3rem
  }
}